/* NavBar.css */

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #ffffff; /* Adjust the background color to match your design */
}

.NavBar .logo {
  font-weight: bold;
  font-size: 1.5rem; /* Adjust the size as needed */
  color: #333; /* This is a dark gray, almost black color */
}

.NavBar .nav-links a {
  text-decoration: none;
  color: #333; /* Same dark gray color */
  margin-left: 2rem; /* Adds spacing between links */
  font-size: 1rem;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.NavBar .nav-links a:hover,
.NavBar .nav-links a.active {
  color: #000000; /* Highlight color when hovered over or active */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    padding: 1rem;
  }

  .NavBar .nav-links {
    margin-top: 1rem;
  }

  .NavBar .nav-links a {
    margin-left: 0;
    margin-right: 1rem; /* Adds spacing between links */
  }
}
